<h2>Sign Up</h2>
<form id = "form" method = "post" action="/process-signup">
  <label for = "firstName"> First Name </label>
  <input id = "first-name-input" type = "text"  placeholder = "John"
  name = "signupFirstname"/>

  <label for = "lastName"> First Name </label>
  <input id = "last-name-input" type = "text"  placeholder = "Smith"
  name = "signupLastname"/>

  <label for = "email-input">Email Address </label>
  <input id="email-input" type = "email" placeholder = "smithj@corg.com"
  name="signupEmail"/>

  <label for = "password-input"> Password </label>
  <input id = "password-input" type = "passsword" placeholder="eg. secr3T"
  name = "signupPassword"/>
  <br />

  <label for = "musician_q"> Are you a musician? </label>
  <input id = "musicianq-input" type = "text"  placeholder = "true/false"
  name = "musicianQuest"/>
  <br />

  <label for = "music_genre_q"> What is your primary musical genre? </label>
  <input id = "music-genre" type = "text"  placeholder = "classical"
  name = "musicGenreQuest"/>
  <br />

  <button>Complete Sign Up</button>
  <p>
  Already have an account?
  <a href="/login"> Log In </a>
</p>
