<h2>Sign in to the Hans Zimmer fan club!</h2>

<form id="form" method = "post" action ="/process-login">
<label for = "email-input">User's Email</label>
<input id = "email-input" type= "email" placeholder ="user@domain.com"
    name ="loginEmail"/>
<br />

<label for = "password-input">User's Password </label>
<input id = "password-input" type = "password" placeholder "eg. secr3T"
    name = "loginPassword" />

<button> Log In </button>
</form>


<p>
  First time visiting?
  <a href="/signUp"> Sign Up </a>
</p>
