<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<!--The index will have a dramatic splash with user preferences
of the sounds and images displayed.  Will use the condition -->

<a href="/login">Login to the site</a>
